* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #fff;
    font-size: 16px;

    --primary: #009A59;
    --primary-dark: #00331D;

    --accent: #FFC12E;

    --text-heading: #000;
    --text-normal: #333;
}

:lang(en) {
    --lang-footnote: 'Footnotes';
}

:lang(tl) {
    --lang-footnote: 'Mga Talababa';
}

body {
    font-family: 'Nunito', sans-serif;
    color: var(--text-normal);
}

code, pre, var {
    font-family: 'Roboto Mono', monospace;
    color: var(--primary-dark);
}

pre, code, var, samp {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-decoration-break: clone;
}

pre {
    max-width: 60ch;
    margin: auto;
    padding: 0.5rem;
    overflow: auto;
}

a {
    color: var(--primary);
    text-decoration: none;
    background-image:
        linear-gradient(var(--primary), var(--primary));
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 2px;
    transition: background-size 300ms, color 300ms;
}

a:hover {
    background-size: 100% 100%;
    color: #fff;
    transition: background-size 300ms, color 300ms;
}

a[target=_blank]::after {
    content: '';
    display: inline-block;
    width: 1rem;
    background-image: url(../assets/round-open_in_new-24px.svg);
    background-size: 100%;
    height: 1rem;
    filter: invert(0.4) sepia(1) saturate(4) hue-rotate(96.4deg) brightness(0.7);
}

a[target=_blank]:hover::after {
    filter: none;
}

cite {
    font-style: normal;
    font-weight: bolder;
}

pre code {
    background: none;
    border: none;
}

abbr {
    cursor: help;
    text-decoration-color: var(--primary);
    text-decoration-style: wavy
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Barlow', sans-serif;
    margin: auto;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    color: var(--text-heading);
    max-width: 60ch;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    color: var(--text-heading);
}

a {
}

p {
    line-height: 1.5;
    margin: auto;
    margin-bottom: 1rem;
    text-indent: 2rem;
    max-width: 60ch;
}

ul,
ol {
    padding-left: 40px;
    max-width: 60ch;
    margin: auto;
}

ol p {
    text-indent: 0;
}

:target {
    animation: mark-target 3s;
}

@keyframes mark-target {
    from {
        background-color: #fe0;
    }

    to {
        background-color: initial;
    }
}

.footnotes-sep {
    width: 50%;
    margin-top: 5rem;
}

.footnotes::before {
    content: var(--lang-footnote);
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    color: var(--text-heading);
    max-width: 60ch;
    margin: auto;
    display: block;
}

.note {
    padding: 1rem;
    border: 1px solid var(--primary-dark);
    max-width: 50ch;
    margin: auto;
}

.note h4 {
    text-transform: uppercase;
    margin: -1rem;
    margin-bottom: 1rem;
    background-color: var(--primary-dark);
    color: #fff;    
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

.header-hero {
    background-color: var(--primary);
    display: flex;
    padding: 1rem;
    border-top: 0.5rem solid var(--accent);
    position: sticky;
    top: 0;
}

[data-scroll-dir-y=1] .header-hero {
    box-shadow: 0 4px 4px #000a;
}

.header-hero .page-header {
    flex: 1;
}

.main-nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    padding: 0;
    text-shadow: 1px 1px 1px #0003;
}

.main-nav a {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;

    background-image:
        linear-gradient(var(--accent), var(--accent));
    background-position: center;
    background-size: 0 5px;
}

.main-nav a:hover,
.main-nav a:focus {
    background-size: 75% 5px;
}

.article-header {
    background-repeat: no-repeat;
    color: #fff;
    padding: 1rem;
}

.article-header::before {
    content: '';
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: var(--primary);
    margin: -1rem;
}

.article-header h1 {
    color: #fff;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
    align-self: end;
}

.article-header h1.article-title {
    color: var(--text-heading);
    font-family: 'Nunito', sans-serif;
    color: var(--primary);
    font-size: 3rem;
    grid-row: 2/3;
}

.article-header p {
    grid-row: 1/2;
    grid-column: 2/3;

    text-align: right;
    max-width: 30ch;
    margin: 0;
    margin-left: auto;
}

@supports (display:grid) {
    .article-header {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        justify-content: start;
        text-align: left;
        gap: 1rem;
    }
}